 body{
    background-color: #00ffff;
}

.task3 {
    margin-bottom: 40px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.a_red {
    border: 2px solid red;
    padding: 50px;
    height: 100px;
    width:300px;
}

.a_green {
    border: 2px solid green;
    padding: 50px;
}

.b_red {
    border: 1px solid red;
    padding-left: 30px;
    height: 100px;
    width:300px;
}

.b_green {
    border: 1px solid green;
    padding: 50px;
}

.c_red {
    border: 1px solid red;
    padding-top: 30px;
    height: 100px;
    width:300px;
}

.c_green {
    border: 2px solid green;
    padding: 50px;
}

.d_red {
    border: 1px solid red;
    padding-right: 30px;
    padding-bottom: 10px;
    height: 125px;
    width:300px;
}

.d_green {
    border: 1px solid green;
    padding: 60px;
}

.task3_e {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.e_red {
    border: 2px solid red;
    padding: 10px 150px;
}

.e_green {
    border: 2px solid green;
    padding: 60px;

}

.task3_f {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.f_red {
    border: 2px solid red;
    padding: 10px;
    padding-right: 60px;
    padding-left: 60px;
    margin: 0 auto;
    height: 100px;
    width:300px;
}

.f_green {
    border: 2px solid green;
    padding: 50px 100px;
    margin: 0 auto;
}

.task3_g {
    margin: 0 auto;
    text-align: justify;
    max-width: 275px;
    margin-bottom: 40px;
}

.g_red {
    border: 2px solid red;
   
}



.task3_h {
    margin: 0 auto;
    text-align: center;
    max-width: 350px;
    margin-bottom: 40px;
}

.h_red {
    border: 2px solid red;
}

.asd {
    margin: 30px;
}

.task3_i {
    font-size: 20px;
    margin: 0 auto;
    max-width: 100px;
    width: 100%;
    margin-bottom: 40px;
}